body{
    background: #484848;
}

canvas {
    border: 1px solid #0b0b0b;
    background: #616161;
}

#game-canvas{
    width: 100%;
    object-fit: contain;
}

.options {
    background: #d8d8d8;

}

.bezier-option canvas{
    width: 100%;
    object-fit: contain;
    background: #fff;

}